body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
    border-radius: 3px;
}

.comments {
    height: 100px;
    width: 600px;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
}

/*This is the style for the astericks indication a field on a form is required*/
.required:after {
    content: "*";
    font-weight: bold;
    color: red;
}

/*This keeps the section from wrapping up to previous empty space*/
.after-section {
    clear: left;
}

span.radio > input[type='radio'] {
    display: none;
}

span.radio > label {
    display: table;
}

    span.radio > label > span {
        display: table-cell;
        width: 20px;
        white-space: nowrap;
    }

        span.radio > label > span:before {
            content: '';
            width: 40px;
            height: 40px;
            left: 20px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }

        span.radio > label > span.checkboxOneSpan:before {
            box-shadow: 0 0 4px 2px #26ca28 inset;
        }

        span.radio > label > span.checkboxTwoSpan:before {
            box-shadow: 0 0 4px 2px #ffd800 inset;
        }

        span.radio > label > span.checkboxThreeSpan:before {
            box-shadow: 0 0 4px 2px #ff0000 inset;
        }

        span.radio > label > span:after {
            content: '';
            position: relative;
            display: inline-block;
            vertical-align: middle;
            left: -20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: radial-gradient(circle at 2px 2px, white, #26ca28);
            visibility: hidden;
        }

        span.radio > label > span.checkboxOneSpan:after {
            box-shadow: 0 0 3px 1px #26ca28;
        }

        span.radio > label > span.checkboxTwoSpan:after {
            box-shadow: 0 0 3px 1px #ffd800;
        }

        span.radio > label > span.checkboxThreeSpan:after {
            box-shadow: 0 0 3px 1px #ff0000;
        }

        span.radio > label > span.checkboxOneSpan:after {
            background: radial-gradient(circle at 2px 2px, white, #26ca28);
        }

        span.radio > label > span.checkboxTwoSpan:after {
            background: radial-gradient(circle at 2px 2px, white, #ffd800);
        }

        span.radio > label > span.checkboxThreeSpan:after {
            background: radial-gradient(circle at 2px 2px, white, #ff0000);
        }

    span.radio > label:hover > span:before.checkboxOneSpan {
        box-shadow: 0 0 5px 3px #26ca28 inset;
    }

    span.radio > label:hover > span:before.checkboxTwoSpan {
        box-shadow: 0 0 5px 3px #ffd800 inset;
    }

    span.radio > label:hover > span:before.checkboxThreeSpan {
        box-shadow: 0 0 5px 3px #ff0000 inset;
    }

span.radio > input[type='radio']:checked + label > span:after {
    visibility: visible;
}

span.radio {
    display: inline-block;
    margin-bottom: 3px;
}
