@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    MOTOR Information Systems<br />
    1301 W. Long Lake Road, Suite 300<br />
    Troy, MI 48098<br />
    <abbr title="Phone">P:</abbr>
    (800) 288-6828
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:motorcallcenter@motor.com">motorcallcenter@motor.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@motor.com">marketing@motor.com</a>
</address>