@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inspectline</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Inspectline</h2>
        <p>
            Inspectline helps streamline the
            vehicle inspection process and improve communication
            between a repair shop and its customers.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Start New Inspection</h2>
        <p><a class="btn btn-default" href="@Url.Action("CreateInspection", "Inspection")">Start New Inspection &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Current Inspections</h2>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Inspection")">View Inspections &raquo;</a></p>
    </div>
</div>