@model InspectlineAlpha.Models.VehicleConfigurationView

@{
    ViewBag.Title = "Index";
}

<h2>Vehicle Selector</h2>

<p></p>



<table class="table">
    <tr>
        <th>
            
        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>
</table>


