@model InspectlineAlpha.Models.VehicleConfigurationView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectYear</title>
</head>
<body>
    <div>
        <div>
            <span>
                <label for="years">Year</label>
                <select id="years" name="years">
                    <option value=""></option>
                </select>
                <label for="make">Make</label>
                <select id="make" name="make">
                    <option value=""></option>
                </select>
            </span>
        </div>
    </div>
</body>
</html>
